<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    #app {
      margin: 100px;
    }
  </style>
</head>

<body>
  <div id="app">
    <cpnfather :fmovies="movies"></cpnfather>
  </div>

  <template id="movies">
    <ul>
      <li v-for="item in fmovies">{{item}}</li>
      <cpnson :cmovies="fmovies"></cpnson>
    </ul>
  </template>
  <template id="cmovies">
    <ul>
      <li v-for="item in cmovies">{{item}}</li>
    </ul>
  </template>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script>
    const cpnson = {
      template: '#cmovies',
      props: {
        cmovies: {
          type: Array,
          required: true,
        },
      },
      data() {
        return {};
      }

    }

    const cpnfather = {
      template: '#movies',
      data() {
        return {};
      },
      props: {
        fmovies: Array, // 类型限制
      }, // 数组中的字符串就是传递时的名称
      components: {
        cpnson,
      }
    }

    const app = new Vue({
      el: "#app",
      data: {
        movies: ['盗梦空间', '大兵瑞恩', '窈窕淑女', '星际穿越', '海上钢琴师', '死亡诗社'],
      },
      components: {
        cpnfather,
      }
    })
  </script>
</body>


</html>